@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Condensed:wght@300&display=swap');
body{
  background-image: linear-gradient(to left bottom, #000000, #1b0712, #280e22, #311237, #321b51, #382568, #393081, #353c9b, #5446b4, #7450cd, #9558e5, #b95ffb);
  height: 100vh;
  font-family: 'Dancing Script', cursive;
  font-family: 'Roboto Condensed', sans-serif;  
  background-attachment: fixed;
}
